.main-nav{
    padding-left: 15px;
    background-color: #000000;
    flex-direction: column;
    justify-content: space-between;
}

.main-nav .logo img {
    padding-top: 10px;
    height: 50px;
    margin-bottom: 20px;   
}

.main-nav .logo #logo-xs{
    display: none;
}


.main-menu .main-menu-btn img{
    height: 1.5rem;
    vertical-align: middle;
}

.main-menu .main-menu-btn{
    margin-top: 10px;
}

.main-nav a{
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 14px;
    color: #8b8b8b;
}

.main-menu a[href^="#home"]{
    color: rgb(255, 255, 255);
    border-left: 2px solid #b0ff30;
}

.nav-playlist{
    margin-top: 25px;
}

.nav-playlist h3{
    text-transform: uppercase;
}

.nav-playlist .btn-add-playlist i{
    vertical-align: middle;
    font-size: 2rem;
}

.nav-playlist .btn-add-playlist a{
    font-size: 16px;
    vertical-align: middle;
}

.nav-playlist ul{
    overflow: auto;
    min-height: 30%;
}

.nav-playlist ul li, .nav-playlist h3, .nav-playlist a{
    margin: 10px 0;
}

.main-nav .nav-bottom .download-app img,
  .main-nav .nav-bottom .user-account img{
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 5px;
    
}

.main-nav .nav-bottom .user-account h3{
    display: inline-block;
}

.main-nav .nav-bottom *{
    margin: 3px 0;
}

.main-nav .nav-bottom .user-account img{
    text-align: center;
    background-color: #6b6b6b;
    border-radius: 50%;
}