/* Button on top for buying/upgrade to pro version*/
.upgrade{
    position: fixed;
    height: 70px;
    width: calc(100% - 200px);
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    z-index: 999;
}

.upgrade a{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    padding: 7.5px 30px;
    border-radius: 25px;
    margin: 10px 3px;
    display: inline-block;
}
/* -----/Button on top for buying/upgrade to pro version----- */



/* Main content (right side) */

/* Nav top*/
.menu-top{
    text-align: center;    
    margin-top: 75px;
    margin-bottom: 20px;
}

.menu-top nav ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu-top nav ul li a{
    text-transform: uppercase;
    color: #7e8084;
    font-weight: 600;
}
/* -----/Nav top-----*/


/* Section album, text-album */
#recently-played, 
 #custom-playlist, 
  #artisti-popolari{
    margin-bottom: 30px;
    margin-left: 10px;
}

#recently-played .flex, 
 #custom-playlist .flex, 
  #artisti-popolari .flex{
    flex-wrap: wrap;
}

.album{
    width: 200px;
    margin: 10px;
}

.album .cover{
    height: 200px;

}

.album .cover img{
    height: 100%;
}

.album-txt{
    text-align: center;
}

.album-txt a:last-child{
    font-size: 12px;
    color: #a3a3a3;
}

#artisti-popolari p{
    color: #a3a3a3;
}

.album-txt a, .album-txt h3{
    padding: 5px 0 5px;
}

#artisti-popolari .album .cover img{
    border-radius: 50%;
}
/* -----/Section album, text-album----- */



/* /Main content (right side) */

