/* Button on top for buying/upgrade to pro version*/
.upgrade{
    position: fixed;
    height: 70px;
    width: calc(100% - 200px);
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
}

.upgrade a{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    padding: 7.5px 30px;
    border-radius: 25px;
    margin: 20px 3px;
}
/* /Button on top for buying/upgrade to pro version*/



/* Main content (right side) */

/* Nav top*/
.menu-top{
    text-align: center;    
    margin-top: 75px;
    margin-bottom: 20px;
}

.menu-top nav ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu-top nav ul li a{
    text-transform: uppercase;
    color: #7e8084;
    font-weight: 600;
}
/* /Nav top*/


.recently-played, 
 .custom-playlist, 
 .artisti-popolari{
    flex-wrap: wrap;
}

.album{
    flex-direction: column;
    position: relative;
    margin: 10px;
}

.album .cover{
    height: 200px;
}

.album .cover img{
    height: 100%;
}

.album-txt{
    text-align: center;
}

/* /Main content (right side) */









.col-dx{
    height: 100%;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    color: #a3a3a3;
    background-color: #141922;
}